{% extends "base.html" %}
{% block content %}
<h2>Inventario sobre Productos</h2>
<table>
    <tr>
        <th>Nombre del producto</th>
        <th>Descripción</th>
        <th>Fecha de compra</th>
        <th>Estado</th>
    </tr>
    <tr>
        <td>Refresco Coca-Cola 355ml</td>
        <td>Bebida gaseosa</td>
        <td>15 oct 2024</td>
        <td>Completado</td>
    </tr>
    <tr>
        <td>Botella de agua 1L</td>
        <td>Agua purificada</td>
        <td>15 oct 2024</td>
        <td>Bloqueado</td>
    </tr>
</table>

<h3>Consultar producto</h3>
<table>
    <tr>
        <th>Producto</th>
        <th>Cantidad en existencia</th>
        <th>Eliminar producto del inventario</th>
        <th>modificar Cantidad</th>
        <th>Precio</th>
    </tr>
    <tr>
        <td>COLA Coca-cola de 3 Its</td>
        <td>5</td>
        <td><a href="#" class="btn">Eliminar</a></td>
        <td><input type="number" value="7"></td>
        <td>35$</td>
    </tr>
</table>
{% endblock %}